body {
	background-color: #32ab2e;
	width: 1024px;
	height: 600px;
}
ol {
	list-style:none;
    padding-left:0;
}
li {
	list-style-position: outside;
    list-style-type: none;
    vertical-align: middle;
}
li.overground {
	background-color: #e86a10;
}
ol.departures {
	display: inline-block;
}
li.overground span.route {
	color: white;
}
li.overground li.noService {
	color: white;
}
li.bus li.noService {
	color: #666;
}
span.route {
	float: right;
	font-family: Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    color: #397393;
    padding-top: 9px;
}
ol.units li.unit {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 240px;
	display: block;
}
ol.departures li {
	display: inline-block;
    width: 90px;
    text-align: center;
}
ol.departures li.noService {
    width: 250px;
    font-family: Helvetica,sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 8px;
    font-style: italic;
    margin-bottom: 1px;
    height: 28px;
}
ol.stops li.overground span.stopName {
    color: white;
}
ol.stops li.overground span.unitName {
    color: white;
    font-size: 19px;
    height: 27px;
    margin-bottom: 2px;
    padding-top: 4px;
}
ol.units span.unitName {
	width: 100px;
	display: inline-block;
    font-family: Helvetica,sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #397393;
	vertical-align: bottom;
    text-align: center;
}
span.stopName {
    position: absolute;	
    font-weight: 700;
    padding-top: 5px;
	vertical-align: bottom;
    font-family: Helvetica,sans-serif;
    font-size: 32px;
    color: #397393;
}


ol.stops {
	background-color: white;
	width: 1012px;
	height: 515px;
}
ol.stops li.stop {
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-bottom: 1px solid #d9e3ea;
}
span.value {
	font-size: 32px;
    font-family: Helvetica,sans-serif;
    font-weight: 700;
    ZZmargin-left: 10px;
    color: #666;
}
span.units {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #666;
    margin-left: 4px;
}
li.overground span.value {
	color: white;
}
li.overground span.units {
	color: white;
}
